.box-error {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.error {
  max-width: 70%;
  margin: 2rem auto;
  padding: 3rem 4rem 3rem 4rem;
  border: 2px solid #657e1f;
  border-radius: 8px;
  box-shadow: 3px 5px 7px #ddd;
}
.error p {
  font-weight: 600;
  margin: 0.5rem 0;
}
.box-error img {
  width: 65%;
}
.text-title {
  font-size: 3rem;
}
.text-error {
  color: #6d7081;
  margin-top: 10px;
}

button.error-button {
  color: #fff;
  background: #657e1f;
  font-size: 0.9rem;
  border: none;
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: 3px;
  cursor: pointer;
}
@media (width <= 480px) {
  div.error {
    width: 55%;
    border: none;
  }
  .box-error img {
    width: 100%;
    object-fit: cover;
  }
}
