.cinemas-container {
  height: 100%;
  min-height: 100vh;
}
.cinemas-container nav {
  margin-top: 1rem;
}
.cinemas-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 3rem;
  width: 25%;
  margin: 0 auto;
  border: #465716 2px solid;
}
.cinemas-container ul li {
  list-style: none;
  padding: 10px;
}
.cinemas-container ul li p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #465716;
  cursor: pointer;
}
.cinemas-container ul li a.active-category {
  color: #bec107;
  border-bottom: 2px solid;
}
.cinemas-container .movies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.controls-forward-backward {
  position: absolute;
  gap: 2rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: auto;
}

.controls-forward-backward > button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  color: #f3f4f5;
  border-radius: 50%;
}

.box-loader {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (width <= 575px) {
  .cinemas-container {
    margin-top: 2rem;
  }
  .cinemas-container ul {
    margin-top: 1.5rem;
    width: 70%;
  }
}
