.video-playlist-container button {
  color: #657e1f;
  background-color: #fff;
  border: #657e1f 2px solid;
  border-radius: 5px;
}
.container_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container_list_item {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
.container_list_item img {
  width: 8rem;
  aspect-ratio: 16/9;
}
video {
  aspect-ratio: 16/9;
}

@media (width <= 480px) {
  h1 {
    font-size: 1.2rem;
    color: #ffffff;
    background: linear-gradient(to bottom, #f6e2ab 45%, #657e1f 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container_list_item {
    width: 90%;
  }
  .container_list_item img {
    width: 15rem;
  }
  button.btn-interact {
    width: 12rem;
    height: 3rem;
  }
  button.btn-prev,
  button.btn-next {
    width: 6rem;
  }
}
