.register_container {
  margin: 5px auto;
  width: 100%;
}
.register_page {
  width: calc(50%);
}
.register_page form.form_registers {
  width: 80%;
  margin: 1.25rem auto;
}

.form-group button.btn_sigup {
  width: calc(100% - 20px);
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.form-group button.hide_unhide {
  position: absolute;
  top: 50%;
  right: 12%;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #98b72b;
}
.form_item {
  width: 100%;
  flex-wrap: nowrap;
}

.form_item .form-group {
  width: 50%;
  margin-bottom: 15px;
  position: relative;
  align-items: flex-start;
}
.address,
.address .form-group {
  width: 100%;
}
.form_item.address .form-group textarea {
  height: 5rem;
  resize: none;
  padding-top: 1.5%;
  padding-left: 2%;
}

.form_item .form-group input,
.form_item .form-group select#input_role,
.form_item .form-group select#input_gender,
.address .form-group textarea {
  width: calc(100% - 20px);
  height: 2.5rem;
  outline: none;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #24292e;
  padding-left: 3%;
}

.form_item .form-group input:focus,
.form_item .form-group select#input_role:focus,
.form_item .form-group select#input_gender:focus {
  border-color: #98b72b;
}

.form_item .form-group label {
  cursor: text;
  font-size: 1rem;
  font-weight: bold;
  color: #999;
  transition: all 0.3s ease;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
}
.form-group:focus-within label,
.form-group:focus-within select {
  color: #98b72b;
}
.date_of_birth {
  width: calc(100% - 20px);
  justify-content: space-between;
}
.date_of_birth .date_item {
  width: 30%;
}
.date_of_birth .date_item:nth-child(1) input,
.date_of_birth .date_item:nth-child(2) input {
  width: 85%;
  padding-left: 10%;
}
.date_of_birth .date_item:nth-child(3) input {
  width: 100%;
  padding-left: 10%;
}

@media (width <= 575px) {
  .form_register {
    border: none;
    width: 90%;
  }
  .register_page {
    width: 100%;
  }
  .register_page form.form_registers {
    width: 100%;
  }
  .register-page .form-group {
    width: 100%;
  }
  .register-page .form-group input[type="text"],
  .register-page .form-group input[type="password"],
  .register-page .form-group select#input_role,
  .register-page button.btn_sigup {
    width: 100%;
  }
  .register-page .form-group select#input_role {
    height: 2.7rem;
    background-color: transparent;
  }
  .register-page button.hide_unhide {
    right: 4%;
  }
  .form-group button.hide_unhide {
    right: 17%;
  }
}
