div.custom-control {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
div.control-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
div.control-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
div.custom-control button {
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  border: none;
  outline: none;
}
div.control-bottom button {
  color: black;
}
div.custom-control button.button_play-pause {
  font-size: 3rem;
}
div.custom-control button:active {
  border: none;
  outline: none;
}
