.Header {
  width: 80%;
  height: fit-content;
  margin: 0.5rem auto;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border: thin solid #fee;
  border-radius: 8px 8px 0 0;
}
.Header .Header__nav {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.Header ul li {
  list-style: none;
}
.Header__nav .Header__nav-list span {
  font-size: 2rem;
}
.Header__nav .Header__nav-list sup {
  font-size: 0.8rem;
}
.Header a {
  text-decoration: none;
  color: #657e1f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Header .active-item {
  color: #f5b501;
  font-weight: bold;
}
ul.Header__nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 20px;
}
.scrolled-up {
  top: 0;
}
.scrolled-down {
  top: -4.2rem;
}
@media (width <= 480px) {
  .Header {
    margin: 0 auto;
    width: 100%;
    border-radius: 0 0 8px 8px;
  }
  .Header ul li {
    margin-top: 20px;
  }
  .Header__nav .Header__nav-list span {
    font-size: 2rem;
  }
  .Header__nav .Header__nav-list sup {
    font-size: 0.7rem;
  }
  ul.Header__nav-list {
    position: sticky;
    gap: 1.2rem;
    margin: 0 auto;
    padding-bottom: 1.2rem;
    justify-content: center;
  }
  .scrolled-down {
    top: -6.5rem;
  }
}
