.Header {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #383838;
  display: flex;
}

.Header .Header__nav {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.Header__nav ul.nav-list-mobile {
  display: none;
}
.Header ul li {
  list-style: none;
}
.Header__nav .Header__nav-list span {
  font-size: 2rem;
}
.Header__nav .Header__nav-list sup,
.Header__nav .Header__nav-list b {
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.Header__nav .Header__nav-list b {
  font-weight: 400;
}
.Header a.unactive {
  text-decoration: none;
  color: #f0f6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Header a.unactive:hover {
  filter: drop-shadow(0px 4px 12px #f0f6d1);
}

.Header a.active-item {
  color: #b5d249;
  font-weight: bold;
}
.Header a.active-item:hover {
  filter: drop-shadow(0px 4px 12px #b5d249);
}
.Header a.disabled-link {
  color: #a1a1a1;
  cursor: not-allowed;
}
.Header a.lock-screen {
  color: #bbf451;
}
.Header small {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  letter-spacing: 3px;
  margin-top: 6px;
}
.title-lock {
  font-size: 1.2rem;
}
.btn-success-lock,
.btn-danger-lock {
  font-size: 0.9rem;
  color: #1f290a;
}
.btn-success-lock {
  background-color: #cce274;
}
.btn-success-lock:hover {
  background-color: #75921e;
}
.btn-danger-lock {
  background-color: #d6d3d1;
}
.btn-danger-lock:hover {
  background-color: #a1a1a1;
}

ul.Header__nav-list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  padding: 10px 20px;
}
img.header_avatar {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
}
div.banner_app {
  margin-left: 1rem;
}
div.banner_app > a {
  text-decoration: none;
}

.scrolled-up {
  top: 0;
}
.scrolled-down {
  top: -5rem;
}
.hidden-header {
  visibility: hidden;
  animation: hidden 0.2s linear;
}
.unhidden-header {
  visibility: visible;
  animation: unhidden 0.8s linear;
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes unhidden {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (width <= 575px) {
  .Header {
    margin: 0 auto;
    width: 100%;
    border-radius: 0 0 2px 2px;
  }

  .Header__nav ul.nav-list-mobile {
    display: flex;
    position: sticky;
    gap: 1.2rem;
    margin: 0 auto;
  }
  .Header ul li {
    margin: 0.25rem;
  }
  .Header__nav .Header__nav-list span {
    font-size: 2rem;
  }
  .Header__nav .Header__nav-list sup {
    font-size: 0.7rem;
  }
  ul.Header__nav-list {
    display: none;
  }
  .scrolled-down {
    top: -6.5rem;
  }
}
