.movie {
  position: relative;
  width: 100%;
  height: 100%;
}
.movies_container {
  width: 100%;
  margin: 20px auto;
}
div.search-movie-keyword {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.search-movie-keyword > p > img {
  width: 200px;
}

nav.nav-movie {
  margin-right: 1rem;
}
nav.nav-movie > ul {
  margin: 0.5rem auto;
  gap: 1rem;
}
nav.nav-movie > ul > li {
  list-style: none;
}
nav.nav-movie > ul > li > button {
  display: inline-block;
  width: fit-content;
  height: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  color: #1f290a;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  line-height: 1px;
}
div.search-box {
  width: 18rem;
  height: 2.4rem;
  border: 2px solid #d4d4d8;
  border-radius: 10px;
}
div.search-box:focus-within {
  border-color: #b5d249; /* màu khi input focus */
}
.search-box:focus-within .btn-search-movie {
  color: #b5d249;
}
div.search-box > input {
  width: 15rem;
  height: 2rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: #1f290a;
  background-color: transparent;
  border: none;
  outline: none;
}

div.search-box > button.btn-search-movie {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  color: #d4d4d8;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1px;
  pointer-events: none;
}
div.search-movie-selected {
  margin: 2rem 0;
}
div.search-movie-selected > select {
  width: fit-content;
  height: 2.2rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  background-color: #5d5d5d;
  color: #fff;
  border: none;
  border-radius: 5px;
}
div.search-movie-selected > select:focus {
  outline: none;
  color: #cce274;
}
div.search-movie-selected > button {
  width: fit-content;
  height: 2.2rem;
  padding: 0 1rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.header-category-movie .item-header-movie {
  margin: 2rem 0;
  padding: 0.75rem 0.5rem;
  width: 30%;
  background-color: #f0f6d1;
  border-radius: 5px;
}
.header-category-movie .item-header-movie > span > b {
  color: rgb(117, 146, 30);
  font-size: 2rem;
}
.nav-movie-header > li {
  margin-top: 1.5rem;
  list-style: none;
}
.nav-movie-header > li:nth-child(2)::before {
  content: "»";
  margin-right: 0.5rem;
  color: #1f290a;
}
.nav-movie-header > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #59701b;
}
.movies table.list_movie {
  margin: 1rem auto;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  table-layout: fixed;
}

table.list_movie tr {
  width: 100%;
  border: 1px solid #dddddd;
  text-align: left;
}

table.list_movie td,
table.list_movie th {
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.list_movie th:nth-child(1) {
  padding-left: 1rem;
}

table.list_movie td.super-content,
table.list_movie th.super-content {
  width: 30%;
}

table.list_movie td.long-content,
table.list_movie th.long-content {
  width: 15%;
}

table.list_movie td.medium-content,
table.list_movie th.medium-content {
  width: 12%;
}

table.list_movie td.short-content,
table.list_movie th.short-content {
  width: 10%;
}
div.content-info-movie {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

span.name-origin_name {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  gap: 0.5rem;
  overflow: hidden;
}
table.list_movie span.poster-movie {
  width: 20%;
  height: 4.5rem;
  position: relative;
  display: inline-block;
  overflow: visible;
  border-radius: 5px;
}
table.list_movie span.poster-movie img {
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  image-rendering: auto;
  aspect-ratio: 2/3;
  object-fit: contain;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
}

table.list_movie span.name-origin_name a {
  display: block;
  text-decoration: none;
  color: #75921e;
  font-weight: bold;
}
table.list_movie span.name-origin_name small {
  display: block;
}
table.list_movie span.name-origin_name a,
table.list_movie span.name-origin_name small {
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-update {
  color: #ff6154;
}
span.episode-movie,
span.episode-movie-end,
span.episode-movie-full {
  padding: 3px;
  font-size: 0.75rem;
  border-radius: 6px;
  flex-wrap: nowrap;
  width: fit-content;
}

span.episode-movie {
  border: 1px solid #f0f6d1;
  background-color: #f0f6d1;
  color: #48591b;
}
span.episode-movie-end {
  background-color: #f4d1b4;
  border: 1px solid #f4d1b4;
  color: #3c140e;
}
span.episode-movie-full {
  background-color: #fff589;
  border: 1px solid #fff589;
  color: #0e3c14;
}
table.list_movie td.tmdb > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.25rem;
  padding: 4px 8px;
  background-color: #e7e7e7;
  font-size: 0.7rem;
  border-radius: 5px;
}
table.list_movie
  .info-movie
  span.name-origin_name
  > div
  > small.type-movie-small {
  display: none;
}
td.tmdb > span > a,
td.tmdb > span > small {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #0db8a3 0%, #cc9102 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
td.tmdb > span > small {
  font-size: 0.8rem;
}
div.not-item {
  width: 100%;
  height: 100vh;
  background-image: url("https://i.postimg.cc/x1BXMzP2/sorry-item-not-found.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
div.content-not-item {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 1.5rem;
  border-radius: 5px;
}
div.content-not-item > p {
  color: #fff;
}
table.list_movie .info-movie span.name-origin_name > div > sub.episode-movie,
table.list_movie
  .info-movie
  span.name-origin_name
  > div
  > sub.episode-movie-end,
table.list_movie
  .info-movie
  span.name-origin_name
  > div
  > sub.episode-movie-full {
  display: none;
}
.footer-movie {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footer-update {
  width: 50%;
}
.modal-movie {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 1rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  overflow: hidden;
}
.modal-movie-name {
  text-align: center;
  color: #fff;
  margin-bottom: 0.25rem;
}
.modal-movie-poster {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

/* Modal Content (image) */
.modal-movie-content {
  margin: auto;
  width: 28%;
  aspect-ratio: 2/3;
  object-fit: contain;
  margin-left: 10%;
}
.modal-movie-content > img {
  width: 100%;
}
.modal-movie-des {
  width: 65%;
}
.modal-movie-des > span {
  display: inline-block;
  width: 50%;
  color: #b5d249;
}
.modal-movie-name,
.modal-movie-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
div.popup-warning {
  position: fixed;
  width: 20%;
  height: 140px;
  background-color: #fff;
  top: 15%;
  right: 5%;
  border: thin solid #999;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
}
div.popup-warning .warning-box {
  width: 100%;
  height: 100%;
  position: relative;
}
div.popup-warning .warning-box .close-popup {
  position: absolute;
  right: 0;
  top: -5%;
  width: 1.5rem;
  height: 1.5rem;
  color: #b5d249;
  border: none;
  border-radius: 3px;
  text-transform: lowercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 1.5rem;
}
div.popup-warning .warning-box .close-popup:hover {
  color: #000;
}
div.popup-warning .warning-box .popup-content {
  padding: 0.5rem 0;
  width: 80%;
  margin: 0 auto;
}
div.popup-warning .warning-box .popup-content > h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
div.popup-warning .warning-box .popup-content > p > a {
  text-decoration: none;
  color: #75921e;
  font-weight: bold;
  zoom: 1.1;
}
@media (576px <= width <= 991px) {
  table.list_movie td.medium,
  table.list_movie th.medium {
    display: none;
  }
}
@media (width <= 575px) {
  .movies table.list_movie {
    width: 95%;
  }
  table.list_movie td.small,
  table.list_movie th.small {
    display: none;
  }
  tr td:nth-child(1) {
    width: 90%;
  }
  table.list_movie span.poster-movie {
    width: 15%;
    height: 5rem;
  }
  table.list_movie span.name-origin_name a,
  table.list_movie span.name-origin_name small {
    max-width: 90%;
    width: 90%;
  }
  table.list_movie
    .info-movie
    span.name-origin_name
    > div
    > small.type-movie-small {
    display: block;
    width: fit-content;
    margin-left: 3px;
    font-weight: 500;
    color: #fe9a00;
  }
  table.list_movie .info-movie span.name-origin_name > div > sub.episode-movie,
  table.list_movie
    .info-movie
    span.name-origin_name
    > div
    > sub.episode-movie-end,
  table.list_movie
    .info-movie
    span.name-origin_name
    > div
    > sub.episode-movie-full {
    display: flex;
    padding: 2px;
    border-radius: 6px;
    flex-wrap: nowrap;
    width: fit-content;
  }
  sub.episode-movie {
    border: 1px solid #f0f6d1;
    background-color: #f0f6d1;
    color: #48591b;
  }
  sub.episode-movie-end {
    background-color: #f4d1b4;
    border: 1px solid #f4d1b4;
    color: #3c140e;
  }
  sub.episode-movie-full {
    background-color: #fff589;
    border: 1px solid #fff589;
    color: #0e3c14;
  }
  div.search-movie-keyword > p > img {
    display: none;
  }
  div.search-movie-keyword {
    width: 100%;
  }
  div.search-box {
    width: 90%;
    flex-wrap: nowrap;
    margin: 1rem auto;
  }
  .movies div.control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 85%;
  }
  nav.nav-movie > ul {
    justify-content: flex-start;
    margin-left: 1.5rem;
  }
  .header-category-movie {
    justify-content: center;
    gap: 1rem;
  }
  .header-category-movie .item-header-movie {
    width: 45%;
  }
  .header-category-movie .item-header-movie > span > b {
    font-size: 1.5rem;
  }
  ul.nav-movie-header {
    margin-left: 0.75rem;
  }
  .nav-movie-header > li > a {
    font-size: 1.1rem;
  }
  div.search-movie-selected {
    width: 100%;
    justify-content: flex-end;
    padding-right: 1.5rem;
  }
  div.search-movie-selected > select {
    font-size: 1rem;
  }
  .footer-movie {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .footer-movie .footer-update,
  .footer-movie .pagination-container {
    width: 100%;
  }
  .footer-movie .footer-update {
    text-align: center;
  }
  .footer-movie .pagination-container {
    justify-content: center;
  }
  .modal-movie-name {
    padding: 0 5px;
  }
  .modal-movie-content {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }
  .modal-movie-poster {
    flex-direction: column;
    align-items: center;
  }
  .modal-movie-des {
    width: 85%;
  }
  .modal-movie-des > span {
    width: 100%;
    line-height: 1.2;
    letter-spacing: 1px;
  }
  div.popup-warning {
    width: 90%;
    right: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  div.popup-warning .warning-box .close-popup {
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
  }
}
