.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  background: linear-gradient(to bottom, #f6e2ab 45%, #657e1f 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.App p.error,
.App p.notification {
  color: #f44336;
  font-size: 0.8rem;
  margin: 1.2rem auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.2rem;
}
.App p.notification {
  color: #2196f3;
}
.error span.icon-error,
.notification span.icon-notification {
  font-size: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
