.infomation-container {
  margin-top: 2rem;
}
.infomation-container table.table-infomation {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  table-layout: fixed;
}
.header_search {
  gap: 1rem;
}
p.style-color-search {
  color: #3d4c1b;
  font-weight: bold;
}
table.table-infomation tr {
  text-align: center;
}
table.table-infomation th,
table.table-infomation td {
  border: 1px solid #1f290a;
  padding: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
}
table.table-infomation button {
  width: 3.5rem;
  height: 1.4rem;
  border: thin solid #fff;
  border-radius: 4px;
  font-size: 0.6rem;
}
table.table-infomation button:hover {
  border-color: #b5d249;
}
div.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 15rem;
  height: 2.4rem;
  border: 2px solid #d1d1d1;
  border-radius: 5px;
}
div.search input[type="search"] {
  width: 85%;
  height: 100%;
  border: none;
  border-left: 2px solid #d1d1d1;
  outline: none;
  padding: 0 8px;
  color: #3d4c1b;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
}
div.search:focus-within,
div.search > input:focus {
  border-color: #b5d249;
}
div.search > p {
  width: 15%;
  height: 100%;
}
div.search > p > span {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: #d1d1d1;
  width: 100%;
  display: inline-block;
  line-height: 2;
}

p.box-hiddenCode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.form_edited {
  width: 100%;
  margin: 3rem auto;
}

div.edited-item,
div.enter_code {
  margin-bottom: 15px;
  position: relative;
  width: 35%;
}

div.form_edited input,
div.form_edited select,
div.enter_code input {
  width: calc(100% - 0px);
  height: 2.5rem;
  padding-left: 0.5rem;
  outline: none;
  border: 2px solid #d1d1d1;
  border-radius: 4px;
  font-size: 14px;
  color: #24292e;
}

div.form_edited input:focus,
div.form_edited select:focus,
div.enter_code input:focus {
  border-color: #98b72b;
}
div.search:focus-within span {
  color: #98b72b;
  font-weight: bold;
}
div.form_edited label,
div.enter_code label {
  position: absolute;
  cursor: text;
  top: -20%;
  left: 3%;
  font-size: 0.9rem;
  font-weight: bold;
  background: #fff;
  padding: 0 10px;
  color: #999;
  transition: all 0.3s ease;
}
div.form_edited input:focus + label,
div.form_edited select:focus + label,
div.enter_code input:focus + label {
  color: #657e1f;
}
button.cancel-update,
button.submit-update {
  height: 2rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}
button.submit-update {
  width: calc(60% - 10px);
}
button.cancel-update {
  width: calc(40% - 10px);
  color: #f4f4f4;
  background-color: #24292e;
}
button.cancel-update:hover {
  background-color: #e5e7eb;
  color: #1f290a;
}

button.is_hidden {
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  outline: none;
  color: #98b72b;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 15%;
  right: 3%;
}
input.relative {
  position: relative;
}

div.enter_code {
  margin: 20px auto;
}
p.update-success {
  margin: 5rem 0px 5rem 3rem;
  color: #f5b501;
}
div.edited-item-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

@media (width <= 575px) {
  .infomation-container {
    margin-top: 1rem;
  }
  p.style-color-search {
    font-size: 1rem;
  }
  div.search input[type="search"] {
    width: 90%;
    height: 100%;
  }

  .table-infomation
    th:not(:first-child):not(:last-child):not(:nth-last-child(3)),
  .table-infomation
    td:not(:first-child):not(:last-child):not(:nth-last-child(3)) {
    display: none;
  }

  .infomation-container table.table-infomation {
    width: 95%;
  }
  div.form_edited {
    width: 90%;
  }
  div.edited-item,
  div.enter_code {
    width: 100%;
  }
  p.update-success {
    margin: 1rem;
  }

  div.form_edited select {
    height: 2.7rem;
    background-color: transparent;
  }
  div.edited-item-btn-box {
    gap: 0.5rem;
  }
  button.send_request {
    width: 6.5rem;
  }
}
