/* InactivityModal.css */

.inactivity-modal-overlay {
  position: fixed; /* Che phủ toàn bộ viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  background-image: url("../../../public/wallpaper.png");
  background-size: cover;
  background-position: center;
  z-index: 1000; /* Đảm bảo modal nằm trên cùng */
}

.inactivity-modal-content {
  background-color: transparent;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 90%; /* Đảm bảo responsive */
}
.content-inactivity {
  margin-bottom: 20px;
}
.content-inactivity-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inactivity-modal-content h2 {
  margin-top: 0;
  color: #1f290a;
}
.inactivity-modal-content h2.notice {
  text-align: left;
}

.inactivity-modal-content p {
  color: #1f290a;
}
p.notice {
  color: #48591b;
  margin-bottom: 0.5rem;
}
p.notice > b {
  color: #1f290a;
  font-size: 1.2rem;
}
p.noti_fail {
  color: #1f290a;
  background-color: #b5d249;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.inactivity-modal-content p.error {
  color: #f82c1d;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  margin: 0.75rem auto;
  padding: 0.25rem 0;
  background-color: #cce274dd;
  border-radius: 3px;
}

.inactivity-modal-content input {
  width: 8rem;
  height: 2.5rem;
  padding: 0 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  outline: none;
  color: #1f290a;
  border-radius: 4px;
  font-size: 1.2rem;
  background-color: #cce274dd;
  align-content: center;
}
.inactivity-modal-content input:focus {
  border-color: #cce274;
}

.inactivity-modal-content button {
  width: 10rem;
  height: 2.5rem;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

@media (width <= 575px) {
  .inactivity-modal-content {
    width: 80%;
  }
}
